.header {
  max-width: 880px;
  margin: auto;
  border-bottom: 1px solid #545454;
}

.header__image {
  margin: 0;
  padding: 45px 0 41px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header {
    max-width: 320px;
  }

  .header__image {
    max-width: 126px;
    padding-left: 27px;
    padding-right: 152px;
  }
}
