.main {
  max-width: 880px;
  padding-top: 40px;
  margin: auto;
}

.main__profile {
  display: grid;
  grid-template-columns: 120px repeat(3, 1fr);
  grid-template-rows: 120px;
  grid-gap: 30px;
  padding-bottom: 50px;
}

.main__content-image {
  display: inline-block;
  position: relative;
  max-width: 120px;
}

.main__profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.main__content-info {
  max-width: 450px;
  display: grid;
  grid-column: 2 / 4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 16px;
  line-height: normal;
  align-items: center;
}

.main__info {
  max-width: 415px;
}

.main__info_name {
  grid-column: 1 / 4;
  font-weight: 500;
  font-size: 38px;
  margin: 0;
  padding-top: 22px;
  line-height: 48px;
}

.main__info_profession {
  font-size: 18px;
  line-height: 100%;
  margin: 0;
  grid-column: 1 / 5;
  grid-row: 2;
}

.main__button {
  padding: 0;
  border: 2px inset;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.main__button_edit {
  width: 24px;
  height: 24px;
  align-self: end;
  margin-bottom: 8px;
  margin-left: 18px;
}

.main__button_edit:hover {
  opacity: 60%;
}

.main__button_add {
  width: 150px;
  height: 50px;
  align-self: end;
}

.main__button_add:hover {
  opacity: 60%;
}

.main__button_like {
  width: 25px;
  height: 19px;
  background: url(../images/like.svg) center no-repeat;
  border: none;
  align-self: center;
}

.main__button_like:hover {
  opacity: 50%;
}

.main__gallery {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
}

.main__gallery-card {
  max-width: 282px;
  height: 361px;
  position: relative;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}

.main__gallery-image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__gallery-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main__gallery-content {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
}

.main__gallery-paragraph {
  max-width: 230px;
  margin: 0;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .main__profile {
    max-width: 282px;
    justify-items: center;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 120px repeat(2, 50px);
    grid-row-gap: 30px;
    padding-bottom: 36px;
  }

  .main__profile-image {
    max-height: 120px;
  }

  .main__content-info {
    width: 282px;
    height: 50px;
    grid-column: 1 / 2;
    grid-row: 2;
    grid-template-rows: 22px 14px;
    grid-row-gap: 14px;
  }

  .main__info_name {
    font-size: 22px;
    padding-top: 0pc;
    text-align: center;
  }

  .main__info_profession {
    font-size: 14px;
    justify-self: center;
  }

  .main__button_edit {
    width: 18px;
    height: 18px;
    margin: 0 0 0 5px;
  }

  .main__button_add {
    grid-row: 3;
    width: 100%;
  }

  .main__gallery {
    max-width: 282px;
  }
}
